.city-information{
    border: 1px solid #ffffff2a;
    background: #ffffff21;
    border-radius: 5px;
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.weather-icon{
    display: block;
    width: 250px;
    height: 250px;
}
.city-long_haptitude{
    position: relative;
    bottom: 5%;
    font-size: 2em;
    width: 300px;
    display: flex;
    color: #fff;
    justify-content: space-around;
}
.city-long_haptitude span:nth-child(2){
   color: rgb(57, 166, 255);
}
.city-name{
    position: relative;
    bottom: 5%;
    font-size: 3.5em;
    letter-spacing: 2px;
    font-weight: 200;
    color: #fff;
    text-shadow: 0 0 5px #fff;
}